body{
  overflow-x: hidden;
  margin: 0px;
  
}
main{
  padding-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
}
h1 {
  color: rgb(48, 8, 141);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
ul {
  list-style: none; 
  padding-left: 0;
  list-style-type: none;
  overflow: hidden;
}
p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
a:hover {
  color: #3b67f7;
}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.glow-on-hover1 {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover1:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
  color: #000
}

.glow-on-hover1:active:after {
  background: transparent;
}

.glow-on-hover1:hover:before {
  opacity: 1;
}

.glow-on-hover1:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.glow-on-hover2 {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.glow-on-hover2{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.glow-on-hover2:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.glow-on-hover2:hover{
  padding-right: 24px;
  padding-left:8px;
}

.glow-on-hover2:hover:after {
  opacity: 1;
  right: 10px;
}

a.glow-on-hover3{
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.glow-on-hover3:hover { background: rgb(53, 167, 110); }
a.glow-on-hover3:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.glow-on-hover4{
  width: 220px;
  font-size: 32px;
  background-color:#7a00ff;
  color:#000;
}
.glow-on-hover4:hover{
  background-color:#000;
  color:#7a00ff;
}
.glow-on-hover4:active{
  transform: rotate(0.5turn);
}
.glow-on-hover4:hover:after{
  transform: rotate(0.5turn);
}
.blockquote1 {
  padding-left: 50px;
  border-left: 4px solid #e2e2e2;
  font-family: 'Georgia', 'Times New Roman', serif;
}
.blockquote1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  white-space: normal;
}
.blockquote1 cite {
  font-style: italic
}


.li-classic:hover .description {
  opacity: 1;
}

.description {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  position: absolute;
  opacity: 0;
  height: 260px;
  bottom: 0px;
  right: 0px;
  border-radius: 10px;
  
  transition: opacity 0.3s ease-in-out;
  min-width: 170px;
  padding: 20px;
  top: 200px;
  text-align: center;
}

.li-classic::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 10px;
}

.li-classic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgb(31, 59, 171));
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 10px;
}

.ul-classic {
  display: flex;
  justify-content: space-between;

}
.li-classic{
  margin: 10px;
  position: relative;
}

.li-classic:hover::before {
  opacity: 1;
}
.li-classic img {
  width: 170px;
  height: 260px;
  border-radius: 10px;
}
.reg {
  top: 0px;
  text-align: right;
  margin-left: auto;
  width: max-content;
  margin-right: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: white;
  position: fixed;
  right: 0;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  z-index: 9999;
}
.geo-phone-entrance {
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  background: #7c9bff;
  color: white;
}
.geo {
  margin-right: 20px;
  padding-left: 20px;
  font-size: 14px; 
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
aside {
  width: 35%;
  margin-top: 60px;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #85a2ff;;
  font-style: italic;
  color: #0f18a1;
}
.map{
  margin: 20px;
}
.logo{
  margin-right: 2%;
  margin-left: 2%;
  float: left; 
}
.zakrep{
  position: fixed;
  width: 100%;
	background: #85a2ff;
	height: 120px;
  margin-bottom: 100px;
  z-index: 9999;
}
.name{
  color: rgb(255, 255, 255);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 63px; 
}
.headline{
  text-align: center
}
.menu {
  position: fixed;
  margin-top: 100px;
	width: 100%;
	display: table;
  z-index: 9999;
}
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
  
	background: #85a2ff;
}
.menu ul li:hover, .menu a:hover {
	background: #6186ff;
}
.menu li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
}
.katalog::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 3px solid;
	border-right: 3px solid transparent;
	border-bottom: 0;
	border-left: 3px solid transparent;
}
.menu li:hover ul  {
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	background: #85a2ff;
	margin: 0;
	padding: 10px 20px;
	width: 205px;
	z-index: 9999;
}
.menu ul ul  {
	display: none;
}
.menu ul ul li  {
	display: block;
	background: #85a2ff;
	padding: 5px 0;
}
.menu ul ul li a  {
	display: block;
	padding: 0;
	background: #85a2ff;
	text-align: left;
}
#burger {
  visibility: hidden;
}

/*Видео*/
.video-container {
  position: relative;
  width: 300px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin: 30px;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(144, 142, 255, 0.523);
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.caption-video h3 {
  opacity: 0;
}

.caption-video p {
  opacity: 0;
}

.video-container:hover::before {
  opacity: 1;
}

.video-container:hover .caption-video h3 {
  opacity: 1;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.video-container:hover .caption-video p {
  opacity: 1;
  color: #ccc;
  font-size: 14px;
}

.caption-video {
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px;
  z-index: 1;
  height: 100%;
  width: 100%;
  transform: translateX(27%);
}

/*Notifications*/

.div-notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.notifications-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9c9cff;
  bottom: 37px;
  right: 37px;

  display: flex;
  justify-content: center;
}

.notifications-circle img {
  position: absolute;
  height: 60px;
  width: 60px;
  align-self: center;
}

.number-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5863e0;
  right: 5px;
  box-shadow: 0px 0px 10px #d7dbff;
}

.p-circle {
  position: absolute;
  color: #ffffffc5;
  font-size: 20px;
  top: -25px;
  right: 5px;
}
.notifications-list {
  position: absolute;
  opacity: 0;
  height: 300px;
  bottom: 0px;
  right: 0px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  overflow-y: scroll;
  min-width: 280px;
}

.notifications-list::-webkit-scrollbar {
  width: 8px;
}

.notifications-list::-webkit-scrollbar-thumb {
  background-color: #85a2ff;
  border-radius: 10px;
}

.notifications-circle:hover .notifications-list {
  opacity: 1;
}

.notification {
  font-size: 20px;
  color: rgb(131, 164, 255);
  padding: 26px;
}

.notification:hover {
  height: auto;
  color:white;
  background-color:#616eff;
  border-radius: 10px;
}

@media (max-width: 1544px) {
  .ul-classic {
    
    justify-content: center;
  }

  .li-classic {
    flex-basis: 25%;
    margin-bottom: 20px;
    margin: 10px;
  }
  #burger {
    visibility: hidden;
  }
}

@media (max-width: 1383px) {
  label.menu-btn{
    position: fixed;
    margin-left: 70%;
    z-index: 10000;
  }
  .menu{
    display: block;
  }
  .menu ul{
    position: fixed;
    background-color: #85a2ff;
    right: 0;
  }
  .menu li{
    display: block;
  }
  .katalog:after{
    content: none;
  }
  .menu li:hover ul{
    display: none;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 180px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 11;
  }
  .geo{
    visibility: hidden;
  }
  .reg{
    top: 0px;
    text-align: left;
    margin-left: 5%;
    width: max-content;
    font-weight: 300;
    text-decoration: none;
    color: white;
    position: fixed;
    left: 0;
    font-size: 14px;
    padding: 10px;
    z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(17, 10, 166);
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  #burger {
    opacity: 0;
  }
  #burger:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #burger:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #burger:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #burger:checked {
    visibility: visible;
    left: 0;
  }
  .menu {
    display: none;
    position: absolute;
    height: max-content;
    width: max-content;
    user-select: none;
    border-radius: 10px;
    top: 120px;
    padding: 0;
    margin: 0;
    right: 0;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .katalog ul{
    visibility:hidden;
  }
  #burger:checked + label + .menu {
    display: block;
    animation: show 0.5s ease;
  }
}

@media (max-width: 1360px) {
  .ul-classic{
    flex-wrap: wrap;
  }
  .name {
    font-size: 45px;
  }
}

@media (max-width: 1010px) {
  .name {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 40px;
  }
  .piar{
    display: none;
  }
  label.menu-btn {
    margin-left: 50%;
  }
}

@media (max-width: 860px) {
  .name {
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 35px;
  }
}

@media (max-width: 688px) {
  .name {
    position: absolute;
    top: 40%;
    left: 28%;
    font-size: 32px;
  }
  iframe{
    height: max-content;
    width: max-content;
  }
}

@media (max-width: 600px) {
  .name {
    position: absolute;
    font-size: 28px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  iframe{
    height: max-content;
    width: max-content;
  }
  label.menu-btn {
    margin-left: 45%;
  }
}

@media (max-width: 470px) {
  .name {
    font-size: 20px;

  }
  label.menu-btn {
    margin-left: 32%;
  }
}